.card {
  background-color: $c-black100;
}

.image {
  max-height: 365px;
  width: 100%;
  height: auto;
  height: 365px;
}

.container {
  padding: 20px 20px 25px 20px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    color: $c-white;
    font-weight: $fw-600;
    font-size: 20px;
    line-height: $lh-medium;
  }
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  &__category {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: $fw-default;
    font-size: $fs-default;
    line-height: $lh-default;
    color: $c-gray100;
    font-family: $ff-roboto;
    &__title {
      opacity: 0.5;
    }
    &__right {
      align-items: flex-end;
    }
  }
}

.price {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 15px;
  &__eth {
    font-family: $ff-poppins;
    font-size: $fs-large;
    line-height: $lh-large;
    font-weight: $fw-600;
    color: $c-primary;
  }
  &__usd {
    font-family: $ff-roboto;
    font-size: $fs-default;
    line-height: $lh-default;
    color: $c-gray100;
    opacity: 0.5;
  }
}

.checkout {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
