.btn {
  padding: 10px 40px;
  font-size: $fs-medium;
  line-height: 20px;
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  &:disabled {
    background-color: #212121;
    color: $c-gray100;
  }
}

.primary {
  background-color: $c-primary;
  color: $c-black200;
  &:hover {
    border: 1px solid $c-black200;
    transition: all 0.5s ease;
  }
}

.outline {
  border: 1px solid $c-primary;
  color: $c-primary;
  background-color: $c-black200;
  &:hover {
    color: $c-black200;
    background-color: $c-primary;
    transition: all 0.5s ease;
  }
}
