.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $ff-roboto;
  margin-bottom: 32px;

  &__label {
    color: $c-gray100;
    opacity: 0.5;
    margin-right: 14px;
    font-size: $fs-default;
    line-height: $lh-default;
  }
  @media (min-width: 768px) {
    justify-content: flex-end;
  }
}

.dropdown {
  position: relative;
  color: $c-white;
  background-color: $c-black100;
  padding: 15px;
  width: 240px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__close {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all 0.35s;
  }

  &__open {
    color: $c-white;
    background-color: $c-black100;
    padding: 12px;
    margin-top: 8px;
    width: 240px;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &__item {
    padding: 4px;
    cursor: pointer;

    &:hover {
      background-color: $c-primary-50;
      transition: all 0.3s ease;
      border-radius: 4px;
    }

    &__selected {
      background-color: $c-primary-50;
      border-radius: 4px;
    }
  }
}
