@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$ff-poppins: 'Poppins', sans-serif;

$ff-roboto: 'Roboto', sans-serif;

$fs-small: 12px;
$fs-medium: 13px;
$fs-default: 19px;
$fs-large: 30px;
$fs-x-large: 64px;

$fw-200: 200;
$fw-default: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$lh-default: 22px;
$lh-medium: 28px;
$lh-large: 40px;
